html, body, main{
    height:100%;
    max-height:100%;
}
body{
    background-color:#EFE2BA;
}

canvas{
    max-width:100%;
}

#img-upload{
    margin-top:10px;
}
#sidebar{
    margin-top:50px;
    margin-left:10px;
    margin-bottom:0px;
    padding:20px;
    height:50%;
    border-radius:10px;
    background-color: #C5CBE3;
}
.directions{
    margin-top:30px;
    padding:10px;
}
.directions p{
    font-size:20px;
}
h2{
    text-align:center;
}
#brush:checked ~#brush-label> i{
    color:red;
}
#pen:checked ~#pen-label> i{
    color:red;
}
#bucket:checked ~#bucket-label> i{
    color:red;
}

.icons input[type=radio]{
    display:none;
}
.icons label{
    font-size:40px;
}
#brush-size{
    width:100%;
}