html, body, main{
    height:100%;
    max-height:100%;
}
body{
    background-color:#EFE2BA;
}

canvas{
    width:100%;
    max-width:100%;
}

#img-upload{
    margin-top:10px;
}
#sidebar{
    margin-left:10px;
    padding:20px;
    height:50%;
    border-radius:10px;
    background-color: #C5CBE3;
}
.directions{
    margin-top:30px;
    padding:10px;
}
.directions p{
    font-size:20px;
}
h2, h1{
    text-align:center;
}
#brush:checked ~#brush-label> i{
    color:red;
}
#pen:checked ~#pen-label> i{
    color:red;
}
#bucket:checked ~#bucket-label> i{
    color:red;
}
.icons input[type=radio]{
    display:none;
}
.icons label{
    font-size:40px;
}
#brush-size{
    width:100%;
}
.colors rect{
    width:35px;
    height:35px;
    stroke-width:4px;
    stroke:black;
    rx:5px;
}
.title-text{
    font-size:8em;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tagline{
    text-align:center;
}