{% extends "base.html" %}
{%block head%}
<script src = "{{url_for('static', filename = 'js/selectOption.js')}}"></script>

{%endblock%}

{%block body%}
<div class = 'row h-100'>
    <div class = 'col-lg-2'>
        <div class = "row">
            <div class = "col-lg-12">
                <canvas id = "colors" width="300" height="150"></canvas>
            </div>
        </div>
        <div class = "row">
            <div class = "col-lg-12">
                <div class = "icons">
                    <input type = 'radio' name="icons" id="brush" onclick="selectOption('brush')" checked>
                    <label for = "brush" id="brush-label"><i class="fas fa-paint-brush"></i></label>
                    <input type = 'radio' name="icons" id="pen" onclick="selectOption('pen')">
                    <label for ='pen' id="pen-label"><i class="fas fa-pen"></i></label>
                    <input type = 'radio' name="icons" id="bucket" onclick="selectOption('bucket')">
                    <label for ='bucket' id="bucket-label"><i class="fas fa-fill"></i></label>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-lg-12">
                <a href = "#" class="btn btn-primary" id="btn-download" download="colored"><i class="fa fa-download"></i> Download Image</a>
            </div>
        </div>

        <div class = "row">
            <div class = "directions">
                <h2>Directions</h2>
                <p>
                    Select a color and click the area you want to paint. Once you're done coloring the image, click the "download image" button to save as a jpg file.
                </p>
            </div>
        </div>
    </div>
    <div class = 'col-lg-10'>
        <canvas id = "myCanvas">
        </canvas>
    </div>
</div>
<script src = "{{url_for('static', filename = 'js/download.js')}}"></script>
<script src = "{{url_for('static', filename = 'js/paint.js')}}"></script>
{%endblock%}