{% extends "base.html" %}
{%block head%}
<script src = "{{url_for('static', filename = 'js/select_option.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
{%endblock%}

{%block body%}
<div class = 'row h-100'>
    <div class = 'col-lg-4'>
        <svg width="200" height="160" class = "colors">
            <rect x="5" y="10" style="fill:rgb(255,0,0)" onclick="selectColor(this.style.fill)"/>
            <rect x="50" y="10" style="fill:rgb(0,255,0)"onclick="selectColor(this.style.fill)"/>
            <rect x="95" y="10" style="fill:rgb(0,0,255)"onclick="selectColor(this.style.fill)"/>
            <rect x="140" y="10" style="fill:rgb(255,255,255)"onclick="selectColor(this.style.fill)"/>
            <rect x="5" y="55" style="fill:rgb(255,165,0)"onclick="selectColor(this.style.fill)"/>
            <rect x="50" y="55" style="fill:rgb(255,255,0)"onclick="selectColor(this.style.fill)"/>
            <rect x="95" y="55" style="fill:rgb(64,224,208)"onclick="selectColor(this.style.fill)"/>
            <rect x="140" y="55" style="fill:rgb(139,69,19)"onclick="selectColor(this.style.fill)"/>
            <rect id="custom-color" x = "5" y = "100" onclick="selectColor(this.style.fill)"></rect>
        </svg>
        <div id = "picker"></div>

        <div class = "row">
            <div class = "col-lg-12">
                <div class = "icons">
                    <input type = 'radio' name="icons" id="brush" onclick="selectOption('brush')" checked>
                    <label for = "brush" id="brush-label"><i class="fas fa-paint-brush"></i></label>
                    <input type = 'radio' name="icons" id="bucket" onclick="selectOption('bucket')">
                    <label for ='bucket' id="bucket-label"><i class="fas fa-fill"></i></label>
                    <button id = 'undo'><i class="fas fa-undo"></i></button>
                    <button id = 'redo'><i class="fas fa-redo"></i></button>
                </div>
            </div>


        </div>
        <div class = "row">
            <div class = "col-lg-12">
                <p>Brush Size: <span id="brush-size-display"></span></p>
                <input type="range"min="1"max="10" value="5" id="brush-size">
            </div>
        </div>
        <div class = "row">
            <div class = "col-lg-12">
                <a href = "#" class="btn btn-primary" id="btn-download" download="colored"><i class="fa fa-download"></i> Download Image</a>
            </div>
        </div>
    </div>
    <div class = 'col-lg-8'>
        <canvas id = "myCanvas">
        </canvas>
    </div>
</div>
<script src = "{{url_for('static', filename = 'js/history.js')}}"></script>
<script src = "{{url_for('static', filename = 'js/download.js')}}"></script>
<script src = "{{url_for('static', filename = 'js/paint.js')}}"></script>
<script src = "{{url_for('static', filename = 'js/slider.js')}}"></script>

{%endblock%}