{% extends "base.html" %}

{%block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type = "text/css">
<div class = 'row'>
    <div class = 'col-lg-2'>
        <div class = "row">
            <div class = "col-lg-12">
                <canvas id = "colors" width="300" height="100"></canvas>
            </div>
        </div>
        <div class = "row">
            <div class = "col-lg-12">
                <a href = "#" class="btn btn-primary" id="btn-download" download="colored"><i class="fa fa-download"></i> Download</a>
            </div>
        </div>
    </div>
    <div class = 'col-lg-10'>
        <canvas id = "myCanvas">
        </canvas>
    </div>
</div>
<script src = "{{url_for('static', filename = 'js/paint.js')}}"></script>
<script src = "{{url_for('static', filename = 'js/download.js')}}"></script>
{%endblock%}