{% extends "base.html" %}

{%block body%}
<div class = "row">
    <div class ="col-lg-12">
        <div class = "page-header">
            <h1 class = "title-text">ColorMyPhoto</h1>
            <p class="tagline">Transform Your Photo into a Digital Coloring Page</p>
        </div>
    </div>
</div>
<div class = "row h-100">
    <div class = "col-lg-12">
        <div class = "d-flex h-100 justify-content-center">
            <div id = "sidebar">
                <form action = "/find-edges" method = "POST" enctype = "multipart/form-data" id = "img-upload">
                    <div class = "custom-file">
                        <label for = "img-file" class = "custom-file-label">Upload Image: </label>
                        <input type = 'file' name = "image" id = "img-file" class = "custom-file-input" required>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(".custom-file-input").on("change", function() {
  const fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

{%endblock%}